/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 17, ../sass/main.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/main.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/main.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/main.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Reset */
/* line 55, ../sass/main.scss */
a {
  text-decoration: none;
  font-size: 1.2em;
}

/* line 60, ../sass/main.scss */
header {
  height: 100vh;
}

/* line 64, ../sass/main.scss */
nav {
  width: 100%;
  height: 70px;
}

/* line 69, ../sass/main.scss */
.project-img {
  width: 50%;
}

/* line 73, ../sass/main.scss */
.text {
  display: hidden;
}

/* line 77, ../sass/main.scss */
#menu {
  float: right;
  padding: 50px 50px 0 0;
}
/* line 80, ../sass/main.scss */
#menu li {
  display: inline;
  margin: 20px 15px 15px 15px;
  font-size: 1.1em;
  text-transform: uppercase;
  webkit-transition: all 350ms;
  -moz-transition: all 350ms;
  -ms-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
/* line 91, ../sass/main.scss */
#menu li:hover {
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
}

/* line 99, ../sass/main.scss */
.container {
  width: 490px;
  margin: 130px auto 0;
  text-align: center;
}

/* line 105, ../sass/main.scss */
.container ul li {
  display: inline;
  margin: 0 15px;
}

/* line 110, ../sass/main.scss */
.container ul li a, #menu li a {
  color: #999;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

/* line 116, ../sass/main.scss */
.container ul li a:hover, #menu li a:hover {
  color: #6bb9f0;
}

/* line 120, ../sass/main.scss */
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 36px 0;
}

/* line 127, ../sass/main.scss */
section {
  padding: 10px 0 0 35px;
}

/* line 132, ../sass/main.scss */
.projects {
  height: 600px;
  color: white;
}
/* line 135, ../sass/main.scss */
.projects p {
  color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 143, ../sass/main.scss */
.project-link {
  font-size: .6em;
  color: white;
  padding-left: 10px;
  background-color: #333333;
  border-radius: 3px;
}
/* line 150, ../sass/main.scss */
.project-link :hover {
  opacity: .8;
}

/* line 155, ../sass/main.scss */
.text {
  padding-right: 5px;
}

/* line 159, ../sass/main.scss */
#shop-list {
  background-color: #34495e;
}

/* line 163, ../sass/main.scss */
#quiz {
  background-color: #27ae60;
}

/* line 167, ../sass/main.scss */
#what-i-know {
  width: 53%;
  float: left;
}
/* line 170, ../sass/main.scss */
#what-i-know p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #5b5b5b;
}
/* line 177, ../sass/main.scss */
#what-i-know h2:first-letter {
  border-top: 5px solid #6bb9f0;
  padding-top: .3em;
}

/* line 183, ../sass/main.scss */
.intro {
  padding-bottom: 30px;
}

/* line 187, ../sass/main.scss */
.sidebar {
  width: 30%;
  float: right;
  margin: 37px 35px 0 0;
}

/* line 193, ../sass/main.scss */
#skills {
  height: 300px;
}

/* line 197, ../sass/main.scss */
#chart {
  width: 37%;
  float: right;
  margin: 37px 35px 0 0;
}

/* line 203, ../sass/main.scss */
#chart #skills {
  list-style: none;
  padding: 0;
  margin: 5em 0 0 0;
}
/* line 207, ../sass/main.scss */
#chart #skills li {
  background: #e6e4e4;
  color: #fff;
  text-shadow: none;
}
/* line 212, ../sass/main.scss */
#chart #skills div {
  position: relative;
  margin-bottom: .75em;
  background: #6bb9f0;
  padding: 4px;
}

/* line 220, ../sass/main.scss */
#jquery {
  width: 60%;
}

/* line 224, ../sass/main.scss */
#responsive {
  width: 80%;
}

/* line 228, ../sass/main.scss */
#ux-ui {
  width: 85%;
}

/* line 232, ../sass/main.scss */
#html-css {
  width: 90%;
}

/* line 236, ../sass/main.scss */
#sketch {
  width: 87%;
}

/* line 240, ../sass/main.scss */
#wordpress {
  width: 50%;
}

@media screen and (max-width: 768px) {
  /* line 246, ../sass/main.scss */
  .sidebar, #chart, #what-i-know {
    width: 100%;
    margin: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 253, ../sass/main.scss */
  .container h2 {
    margin: 25px 10px 25px 10px;
    font-size: 1.3em;
  }

  /* line 257, ../sass/main.scss */
  .project-img {
    width: 70%;
  }

  /* line 261, ../sass/main.scss */
  #menu {
    padding: 50px 0 0 0;
  }

  /* line 265, ../sass/main.scss */
  #what-i-know {
    width: 100%;
    margin-left: -30px;
  }
}
